/* --- root css --- */
:root {
  --font-size: 100%;
  --font-size-label: 0.75rem;
  --font-size-cvc: 0.5625rem;
  --font-size-inner: 1.125rem;
  --font-size-cardnum: 1.125rem;
  --font-size-cardname: 0.5625rem;
  --font-size-error: 0.75rem;
  --font-size-submit: 1.125rem;
}

/* --- normalize css --- */
html {
  tab-size: 4;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  font-size: var(--font-size);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: gray;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: "button";
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: "button";
  font: inherit;
}

summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
nav,
body,
form,
aside,
input,
header,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

/* --- typography --- */
@font-face {
  font-family: grotesk;
  src: url("../assets/webfonts/Font-face/static/SpaceGrotesk-Medium.woff2") format("woff2"), url("../assets/webfonts/Font-face/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* --- general settings --- */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* --- placeholders --- */
.container, .form__submit {
  margin-inline: auto;
}

.form__input, .form__label {
  display: block;
}

.card, .form__wrapper__date {
  position: relative;
}

.card__back, .card__back--cvc, .card__front, .card__front::before, .card__front::after, .card__front--number, .card__front--flex, .form__wrapper__date--month .form__label {
  position: absolute;
}

.card__front--number, .card__front--flex {
  text-shadow: 1px 1px 1px black;
}

.form__wrapper__date, .form__wrapper__date--month, .form__wrapper__date--year, .form__wrapper__cvc {
  flex: 1;
}

.card, .card__front--number, .card__front--flex, .form, .form__input, .form__submit {
  width: 100%;
}

.form__input, .form__submit {
  cursor: pointer;
}

.card {
  user-select: none;
}

.card__back, .card__front {
  width: 17.875em;
  height: 9.8125em;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 7px black;
  border-radius: 0.5375em;
}

.card__front::before, .card__front::after {
  aspect-ratio: 1/1;
  content: "";
  border-radius: 50%;
}

/* --- header --- */
/* --- home main --- */
.home {
  background-color: #dedddf;
  font-family: grotesk, serif;
  font-weight: 500;
}

.container {
  width: clamp(23.4375em, 100%, 90em);
  padding: 1em;
  background-color: #fff;
}

.submit__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2.8125em;
}

.card {
  color: white;
  min-height: 15em;
  background: linear-gradient(15deg, #21092f 28%, #2a2858 50%, #4c2037 85%);
  background-image: url("../assets/img/bg-main-mobile.png");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-isolation: isolate;
}
.card__back {
  top: 2em;
  right: 1em;
  background-image: url("../assets/img/bg-card-back.png");
  z-index: 10;
}
.card__back--cvc {
  font-size: var(--font-size-cvc);
  top: 8.1111111111em;
  right: 4.1111111111em;
  letter-spacing: 0.1428555556em;
  line-height: 1.2222222222em;
}
.card__front {
  top: 7.6em;
  left: 1em;
  background-image: url("../assets/img/bg-card-front.png");
  z-index: 20;
}
.card__front::before {
  width: 1.875em;
  top: 1.125em;
  left: 1.1875em;
  background-color: #fff;
}
.card__front::after {
  width: 0.875em;
  top: 1.625em;
  left: 3.75em;
  border: 1px solid white;
}
.card__front--number {
  font-size: var(--font-size-cardnum);
  padding-inline: 1.0555555556em 1.5em;
  letter-spacing: 0.1111111111em;
  bottom: 2.7777777778em;
}
.card__front--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-cardname);
  bottom: 2.2222222222em;
  padding-inline: 2.1111111111em 2.2222222222em;
  letter-spacing: 0.1428555556em;
}

.form {
  margin-top: 5.625em;
  padding-inline: 1.5em;
}
.form__input {
  font-size: var(--font-size-inner);
  padding: 0.6111111111em 0.8888888889em;
  color: #21092f;
  border-radius: 0.4444444444em;
  outline: 1px solid #cec8d2;
  line-height: 1.2777777778em;
}
.form__input::placeholder {
  color: #cec8d2;
}
.form__label {
  font-size: var(--font-size-label);
  color: #21092f;
  margin-bottom: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1666666667em;
  line-height: 1.25em;
}
.form__error {
  font-size: var(--font-size-error);
  color: #ff5252;
  color: transparent;
  margin-block: 0.4166666667em 0.25em;
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6875em;
}
.form__wrapper__date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5em;
}
.form__wrapper__date--month .form__label {
  top: 0;
  left: 0;
}
.form__wrapper__date--year .form__label, .form__wrapper__date--year .form__error {
  text-indent: -9999px;
  color: transparent;
}
.form__submit {
  font-size: var(--font-size-submit);
  margin-top: 0.5555555556em;
  padding-block: 0.8333333333em;
  background-color: #21092f;
  color: #fff;
  border: none;
  border-radius: 0.4444444444em;
  line-height: 1.2777777778em;
}

/* --- footer --- */
/* --- media queries --- */

/*# sourceMappingURL=home.css.map */
