@use "../tools/variables" as *;

/* --- root css --- */

/* --- mobile --- */

:root {
  --font-size: #{$font-size-100};
  --font-size-label: #{$font-size-label-sm};
  --font-size-cvc: #{$font-size-cvc-sm};
  --font-size-inner: #{$font-size-inner-sm};
  --font-size-cardnum: #{$font-size-cardnum-sm};
  --font-size-cardname: #{$font-size-cardname-sm};
  --font-size-error: #{$font-size-error-sm};
  --font-size-submit: #{$font-size-submit-sm};
  --font-size-thank-you: #{$font-size-thank-you-sm};
  --font-size-content: #{$font-size-content-sm};
  --font-size-continue: #{$font-size-continue-sm};
}
