/* --- typography --- */

@font-face {
    font-family: grotesk;
    src: url("../assets/webfonts/Font-face/static/SpaceGrotesk-Medium.woff2") format("woff2"),
        url("../assets/webfonts/Font-face/static/SpaceGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

