@use "./variables" as *;
@use "./functions" as foo;
@use "./mixins" as mix;

/* --- placeholders --- */

%auto-margin {
  margin-inline: auto;
}

%display-block{
  display: block;
}

%position-relative {
  position: relative;
}

%position-absolute {
  position: absolute;
}

// --- font weights ---

%weight-400 {
  font-weight: 400;
}

%weight-700 {
  font-weight: 700;
}

// --- text ---
%text-center {
  text-align: center;
}

%text-shadow {
  text-shadow: 1px 1px 1px black;
}

// --- flex ---
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-1{
  flex: 1;
}

// --- width ---
%width-full {
  width: 100%;
}

// --- rest ---
%cursor-pointer {
  cursor: pointer;
}

%no-selection {
  user-select: none;
}

%border-none {
  border: none;
}

%card-styling-sm{
  width: 17.875em;
  height: 9.8125em;
  background: {
    position: top left;
    size: contain;
    repeat: no-repeat;
  }

  box-shadow: 1px 1px 7px black;
  border-radius: .5375em;
}

%card-marks{
  aspect-ratio: 1/1;
  content: "";
  border-radius: 50%;
}

