@use "./functions" as foo;

// --- Variables ---

$debug: false;

// --- color pallet ---
$clr10: #fff;
$clr11: #ff5252;
$clr12: #dedddf;
$clr13: #8e8593;
$clr14: #21092f;
$clr15: #cec8d2;
$clr16: #6348FE;
$clr17: #610595;
$clr99: #505050;
$linear-gradient: linear-gradient(15deg, #21092f 28%, #2a2858 50%, #4c2037 85%);

// -----------------------

// font color
$clr-h1: $clr10;

// -------------------------

// background color
$clr-body: $clr12;
$clr-bg-img: $clr99;

// --- width ---
$max-width: foo.em(1440, 16);
$min-width: foo.em(375, 16);

// --- break points ---
$bp-max: $max-width;
$bp-mid: 650px;
$bp-min: 650px;
$bp-mni: $min-width;

// --- font-global ---
$font-family: grotesk, serif;
$font-size-110: 110%;
$font-size-100: 100%;
$font-size-90: 90%;
$font-size-80: 80%;

// --- font-local ---
// - form -
$font-size-label-sm: 0.75rem; // 12px
$font-size-label-lg: 0.75rem; // 12px

$font-size-inner-sm: 1.125rem; // 18px
$font-size-inner-sm: 1.125rem; // 18px

$font-size-submit-sm: 1.125rem; // 18px
$font-size-submit-lg: 1.125rem; // 18px

$font-size-error-sm: .75rem; // 12px
$font-size-error-lg: .75rem; // 12px

// -----------------------------
// - card -
$font-size-cvc-sm: .5625rem; // 9px
$font-size-cvc-lg: .875rem; // 14px

$font-size-cardnum-sm: 1.125rem; // 18px
$font-size-cardnum-lg: 1.75rem; // 28px

$font-size-cardname-sm: 0.5625rem; // 9px
$font-size-cardname-lg: 0.875rem; // 14px
// -----------------------------

// --- aray ---
$pages: home, gallery, blog, contact, buttons;

// icon colors
$cards-color: (
  "clifford": $clr11,
  "walters": $clr12,
  "harmon": $clr10,
  "abrams": $clr13,
  "whittle": $clr10,
);
$buttons-color: (
  "GetStarted": $clr11,
  "ContinueReading": $clr12,
  "FindOutMore": $clr12,
  "LearnMoreMain": $clr11,
  "comments": $clr11,
);

// --- assets-path ---
$img-path: "../assets/img";
