@use "../partials/tools" as *;
@use "../partials/assembler" as *;

/* --- home main --- */
.home {
  background-color: $clr-body;
  font-family: $font-karla, serif;
  color: $clr15;
}

.container {
  @include container($min-width, $max-width, 1em);
  @extend %auto-margin;
  @extend %position-relative;
}
